{% extends "base.html" %}                                                <!-- берем шаблон из файла base -->
{% block title %} Записи сообщества {{ group.title }} {% endblock %}     <!-- переопределяем блок title -->
{% block header %} {{ group.title }} {% endblock %}                      <!-- переопределяем блок header -->

{% block content %}                                                      <!-- переопределяем блок content -->

    {% load thumbnail %}                                                 <!-- подгружаем шаблон для изображений -->
    <p>{{ group.description }}</p>                                       <!-- описание группы -->

    {% for post in page %}                          <!-- проходим по списку постов группы-->
    <h3>
        Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>              <!-- linebreaksbr - заменяет перенос строки \n на HTML тег <br> -->
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% if page.has_other_pages %}                   <!-- список страниц для листания -->
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}