{% extends "base.html" %}                                                <!-- берем шаблон из файла base -->
{% block title %} Записи сообщества {{ group.title }} {% endblock %}     <!-- переопределяем блок title -->
{% block header %} {{ group.title }} {% endblock %}                      <!-- переопределяем блок header -->

{% block content %}                                                      <!-- переопределяем блок content -->

    {% load thumbnail %}                                                 <!-- подгружаем шаблон для изображений -->
    <p>{{ group.description }}</p>                                       <!-- описание группы -->

    {% for post in page %}                          <!-- проходим по списку постов группы-->
        {% include "post_item.html" with post=post %}
    {% endfor %}

    {% if page.has_other_pages %}                   <!-- список страниц для листания -->
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}