{% extends "base.html" %}
{% block title %}{{ author.get_full_name }}{% endblock %}
{% block content %}
{% load thumbnail %}                                                     <!-- подгружаем шаблон для изображений -->
<!-- загружаем фильтр -->
{% load user_filters %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ author.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ author.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ following.count }} <br />
                                            Подписан: {{ follower.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ author.posts.count }}
                                            </div>

                                            <!-- если текущий пользователь на свой странице, то не показывать ему эти кнопки -->
				 	                        {% if not following and user != author %}
                                            <a class="btn btn-lg btn-primary" href="{% url 'profile_follow' author.username %}" role="button">
                                                Подписаться
                                            </a>
                                            {% elif user != author %}
                                            <a class="btn btn-lg btn-light" href="{% url 'profile_unfollow' author.username %}" role="button">
                                                Отписаться
                                            </a>
                                            {% endif %}

                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">
                {% for post in page %}
                <!-- Начало блока с отдельным постом -->
                    {% include "posts/post_item.html" with post=post %}
                <!-- Конец блока с отдельным постом -->
                {% endfor %}
                <!-- Остальные посты -->

                <!-- Здесь постраничная навигация паджинатора -->
                {% if page.has_other_pages %}
                    {% include "includes/paginator.html" with items=page paginator=paginator %}
                {% endif %}
     </div>
    </div>
</main>

{% endblock %}
